*{
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}
.container{
    /* padding: 50px; */
    position: relative;
    height: 100vh;
    width: full;
    display: flex;
    background-color:rgba(243,220,166,255);
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.I1,.I2,.I3{
    border-radius: 15px;
}
 p{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}
.pg2{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    width: 100%;
    position: relative;
}
.container2{
    position: relative;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color:#45b8da;
    /* height: 80vh; */
    height: fit-content;
    width: 80vw;
    text-align: center;
    border-radius: 15px;
}
.I2{
    height: 80vh;
    margin-bottom: -5px;
}
.container3{
    display: flex;
    position: relative;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color:rgba(243,220,166,255);
    height: 100vh;
    width: full;
    text-align: center;
}
.text-block p{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}